.overlay {
    background-color: lavender;
    padding: 5px 0;
    color: black;
}
.row-gap {
    padding-top: 30px;
}
.cont-style {
    margin-top: 50px;
    padding-top: 25px;
    padding-bottom: 50px;
    background-color: lavender;
}